<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>
<body>
    
</body>
</html>

    <h2>Your Gold: {{session['yourgold']}}</h2>
<div class="cmon">
    <form action="/process_money" method="post">
        <h1>Farm</h1>
        <input type="hidden" name="building" value="farm">
        <input type="submit" value="Find Gold!">
    </form>
</div>
<div class="cmon">
    <form action="/process_money" method="post">
        <h1>Cave</h1>
        <input type="hidden" name="building" value="cave">
        <input type="submit" value="Find Gold!">
    </form>
</div>
<div class="cmon">
    <form action="/process_money" method="post">
        <h1>House</h1>
        <input type="hidden" name="building" value="house">
        <input type="submit" value="Find Gold!">
    </form>
</div>
<div class="cmon">
    <form action="/process_money" method="post">
        <h1>Casino</h1>
        <input type="hidden" name="building" value="casino">
        <input type="submit" value="Find Gold!">
    </form>
</div>
    <h4>Activities: <br>
        <pre>
    {{session['youractivities']}}
        </pre>
</h4>